/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
@font-face{
    font-family: yo1;
    src:url(../font/Amatic-Bold.ttf);
}
@font-face{
    font-family:yo2;
    src:url(../font/CaviarDreams.ttf);
}
@font-face{
    font-family:yo3;
    src:url(../font/Caviar_Dreams_Bold.ttf);
}

@font-face{
    font-family: life1;
    src:url(lifesupb.ttf);
}
#logo{
 
    margin: 0 auto;
    position: absolute;
    top:10px;
    left:0;
    right:0;
    z-index: 120;
    
}
#logo img{
    border-radius: 7px;
}
#privacidad{
  float:right;   
}

h1{
    font-family:yo1;
    text-align: center;
    font-size:40px;
}
h2{
    font-family: yo1;
    text-align: center;
    font-size: 34px;
}
p{
    font-family: yo2;
}

.fuente-boton{
    font-size: 17px;
    font-weight:  bolder;
}
.thumbnail a{
    text-align: center;
}

.navbar-default{
    background: #002161;
    color: white;
}
.navbar-toggle{
    background-color: white;
  background-image: none;
  border: 1px solid white;
  
}
.navbar-toggle:focus{
    background-color: #002161 ;
  background-image: none;
  border: 1px solid  #002161; 
}
.icon-bar{
     color:white;
}
.navbar-default {
    background-color:  #002161;
  border-color: #002161;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color:  #e7e7e7;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color:  #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
  color:  white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e7e7e7;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #002161;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color:  #002161;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.dropdown-menu{
    background: #025687;
    color: white;
}
.dropdown-menu > li > a {
    color:white;
}
@media (max-width: 767px) {
  .dropdown-menu{
    background: #025687;
    color: white;
}
.dropdown-menu > li > a {
    color:white;
}  
    
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 245px;
  left: 0;
  right: 0;
  z-index: 20;
}

.navegacion{
    position: absolute;
  top: 260px;
  left: 0;
  right: 0;
  z-index: 20;
  width:1267px;
  height:26px;
  margin:3px auto;
  background: #282864;
}
.navegacion li{
    display:inline;
    margin-left: 17px;
}
li img{
    background: white;
}
#contacto a{
    background-image: url(contactoA.jpg);
}
#raya{
    position:absolute;
    top:290px;
    left: 0;
  right: 0;
  z-index: 20;
  width:1267px;
  height:3px;
  margin:3px auto;
  background: #282864;
    
}
#contacto a:hover{
    background-image: url(contactoB.jpg);
}



#navegacion-borde{
   border-image:  url(margen.png);
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 900px;
  margin-bottom: 60px;
  padding-top: -60px;
   left: 0 !important;
      
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 900px;
  background-color: #777;
left: 0 !important;
      -webkit-transition: opacity .9s; /*adjust timing here */
         -moz-transition: opacity .9s;
           -o-transition: opacity .9s;
              transition: opacity .9s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 900px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }


  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
  .carousel{
        margin-top:-40px;
  }
  
  
}

@media(max-width:500px){
    .carousel {
  height: 300px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}

}

.hola{
    width:100%;
    height:1000px;
    background: red;
    margin-top: -90px;
}
#inferior{
    width:270px;
    position: relative;
    height:100px;
  //  background: #3c763d;
    margin:0 auto;
    margin-top:-300px;
}

#anclaje-perforacion{
    position:  absolute;
    top:340px;
    left:180px;
    width:600px;
    height:260px;
   
    
}

#anclaje-perforacion a{
    color:rgb(40,40,100);
      font-size: 20px;
      font-weight:  bolder;
    
      
}
#misionsita{
    position:  absolute;
    top:100px;
    left:40px;
    width:580px;
    height:260px;
         -ms-transform: rotate(-90deg); /* IE 9 */
-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
transform: rotate(-90deg);

   
    
}

#misionsita a{
    color:rgb(40,40,100);
      font-size: 40px;
      font-weight:  bolder;
    
      
}
.life{
     font-family: life1;
     text-decoration:  underline;
     font-size: 30px;
     font-weight: bolder;

}

.item img{
    /*
   opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier 
*/
}
#servicio1{
    background: rgba(40,40,100,0.7);
    border-radius: 70px;
    margin-left: -70px;
   font-size: 20px;
    width:701px;
    color:white;
    height:200px;
    position:absolute;
    left:0;
    top:480px;
    border-right:none;   
    padding-top: -20px;  
    padding-left: 17px;
    padding-right: 17px;
}

#servicio1 p{
    padding-left: 70px;
}
#anclajito{
    padding-left: 70px;
    padding-top: 7px;
}

#servicio1 h3{
     padding-left: 70px;
}
#servicio2{
    margin-bottom:60%;
}
#servicio-mision{
    background: rgba(255,255,255,0.7);
    border-radius: 70px;
    margin-right: -70px;
   font-size: 20px;
    width:701px;
    color:white;
    height:244px;
    position:absolute;
    right:0;
    top:330px;
    border-right:none;   
    padding: 17px;  
}

#servicio-mision p, h3{
    padding-top: 52px;
    padding-right: 70px;
    padding-left: 10px;
}

#servicio-mision p{
   font-family: yo3;
   font-size: 24px; 
    color:rgb(40,40,100);
   text-align:  justify;
}

#servicio-formulario{
  background: rgba(255,255,255,0.7);
    border-radius: 20px;
    margin-right: -70px;
   font-size: 20px;
    width:701px;
    color:white;
    height:430px;
    position:absolute;
    left:370px;
 
    top:320px;
    border-right:none;   
    padding: 17px;  
}
#servicio-formulario h2{
    text-align: center;
    color:#080808;
}
#servicio-formulario p{
    text-align: center;
    color: #0f0f0f;
}
.campo{
    width:280px;
}
#enviar{
     float:right;
     margin-top: 140px;
}
.redes{
    padding: 0;
    margin-top: 0;
    float:right;
    margin-left:5px;
    margin-right:7px;
    color:white;
}
table{
     text-align: justify;
     padding-left: 30px;
}
td{
    width:190px;
    color:#888;
    margin:5px;
    padding-top: 5px;
    font-size: 13px;
}

li{
      text-decoration: none;
    list-style: none; 
      font-weight: 900;
      font-family: yo3;
}
#servicio1 p{
   font-family: yo3;
   font-size: 16px; 
 
   text-align:  justify;
}

/* Menu de pagina de inicio  */
.estilo-menu{
     width:380px;
    height:40px;
    color:#f8c303;
    font-size:16px;
}
#pie{
    position: absolute;
    left: 0;
  right: 0;
  z-index: 20;
    top:823px;
    width:1267px;
    height: 60px;
    margin:0 auto;
    text-align:  center;
    color:#002161;
    font-weight: bolder;
  
}
#primero{
   
}
#segundo{
    
    padding-left: 20px;
}
#tercero{
   
    padding-left: 30px;
}
#cuarto{
    
    padding-left: 40px;
}
#quinto{
    
    padding-left: 40px;
}
#sexto{
    
    padding-left: 90px;
}
#septimo{
    padding-left: 80px;
}
#octavo{
    padding-left: 60px;
}

h2{
    background: white;

    
}